---
layout: api
permalink: /api/data/{{ name }}/
redirect_from: /api/data/{{ name }}.html
---

# {{ name }}

Defined in: <a href='{{file}}#L{{line}}' target='_blank'>{{ relativePath }}:{{line}}</a>

<div class='api-description'>
  {{{ description }}}
</div>

{{! If there are no documented attrs, then we display a little message so that nobody thinks that things are broken. }}
{{#unless apiCount }}
<div class='notification'>
  There are no documented properties, methods, or events for this Object.
</div>
{{/unless}}

{{! If there are methods, then we render out the menu that toggles the attrs }}
{{#if apiCount}}
<ul class='pill-nav'>
  <li class='index-menu-item'>
    <a href='#index' class='active'>
      Index
    </a>
  </li>

  {{#if methods.length}}
  <li class='methods-menu-item'>
    <a href='#methods'>
      Methods
    </a>
  </li>
  {{/if}}

  {{#if properties.length}}
  <li class='properties-menu-item'>
    <a href='#properties'>
      Properties
    </a>
  </li>
  {{/if}}

  {{#if events.length}}
  <li class='events-menu-item'>
    <a href='#events'>
      Events
    </a>
  </li>
  {{/if}}
</ul>

<ul class='access-toggles'>
  <li>
    <input type='checkbox' name='inherited' checked='checked' value='inherited'>
    <label for='inherited'>Inherited</label>
  </li>
  <li>
    <input type='checkbox' name='public' checked='checked' value='public'>
    <label for='public'>Public</label>
  </li>
  <li>
    <input type='checkbox' name='private' value='private'>
    <label for='private'>Private</label>
  </li>
</ul>

{{! Index tab }}
<div class='tab-item index-tab show-inherited show-public'>

  {{#if methods.length}}
  <h2>Methods</h2>
  <ul class='attr-list'>
    {{#each methods}}
    <li class='access-{{access}}'>
      <a href='#methods_{{name}}'>
        {{name}}
      </a>
    </li>
    {{/each}}
  </ul>
  {{/if}}

  {{#if properties.length}}
  <h2>Properties</h2>
  <ul class='attr-list'>
    {{#each properties}}
    <li class='access-{{access}}'>
      <a href='#properties_{{name}}'>
        {{name}}
      </a>
    </li>
    {{/each}}
  </ul>
  {{/if}}
  
  {{#if events.length}}
  <h2>Events</h2>
  <ul class='attr-list'>
    {{#each events}}
    <li class='access-{{access}}'>
      <a href='#events_{{name}}'>
        {{name}}
      </a>
    </li>
    {{/each}}
  </ul>
  {{/if}}
</div>

{{! Methods tab }}
<div class='tab-item methods-tab hide show-inherited show-public'>
{{#each methods}}
<div id='methods_{{name}}' class='access-{{access}}'>
  <div>
    {{ name }}
    (
    {{#each params}}
      {{ name }}{{#unless @last}},{{/unless}}
    {{/each}}
    )
  </div>
  <div>
    Defined in: <a href='{{file}}#L{{line}}' target='_blank'>{{relativePath}}:{{line}}</a>
  </div>
  <p>
    {{{description}}}
  </p>
  <h3>Parameters</h3>
  {{#each params}}
    {{name}} {{type}}
    {{#if description}}
    <br>
    {{{description}}}
    {{/if}}
    {{#unless @last}}<br>{{/unless}}
  {{/each}}
  {{#unless @last}}<hr>{{/unless}}
</div>
{{/each}}
</div>

{{! Properties tab }}
<div class='tab-item properties-tab hide show-inherited show-public'>
  Properties go here!
</div>

{{! Events tab }}
<div class='tab-item events-tab hide'>
  Events go here
</div>
{{/if}}